@using MudBlazor
@inject NavigationManager NavigationManager

<div class="radial-menu-container">
    <MudFab Color="Color.Success" 
            StartIcon="@Icons.Material.Filled.Add" 
            Class="@( "menu-toggle " + (_isMenuOpen ? "open" : "") )"
            OnClick="ToggleRadialMenu"/>
    
    <div class="menu-round @(_isMenuOpen ? "open" : "")">
        @foreach (var item in _menuItems)
        {
            <MudIconButton Icon="@item.Icon" 
                           Color="@item.Color" 
                           Class="btn-app"
                           OnClick="() => NavigateToPage(item.Route)"
                           Variant="Variant.Filled"/>
        }
    </div>
</div>

@code {
    private bool _isMenuOpen;
    private static int _currentDogId = 1; 

    private List<(string Icon, Color Color, string Route)> _menuItems =
    [
        (Icons.Material.Filled.Pets, Color.Secondary, $"dog/{_currentDogId}/walk"),
        (Icons.Material.Filled.Wallet, Color.Primary, $"dog/{_currentDogId}/depenses"),
        (Icons.Material.Filled.MedicalServices, Color.Error, $"dog/{_currentDogId}/carnet-sante"),
    ];

    private void ToggleRadialMenu()
    {
        _isMenuOpen = !_isMenuOpen;
    }

    private void NavigateToPage(string route)
    {
        NavigationManager.NavigateTo(route);
        _isMenuOpen = false;
    }
    
    // TODO: déplacer style dans un fichier css scoped
}



<style>
.radial-menu-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.menu-toggle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-toggle .mud-fab-icon {
    transition: 0.4s;
}

.menu-toggle.open .mud-fab-label {
    transition: 0.4s ease-in-out;
    transform: rotate(45deg);
}

.menu-toggle:not(.open) .mud-fab-label {
    transform: rotate(0deg);
}

.menu-round {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.btn-app {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    bottom: 0.25em;
    right: 0.25em;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-round.open .btn-app:nth-child(1) {
    right: 0.5em;
    bottom: 4.25em;
    transition-delay: 0.2s;
}

.menu-round.open .btn-app:nth-child(2) {
    right: 3.5em;
    bottom: 3.5em;
    transition-delay: 0.1s;
}

.menu-round.open .btn-app:nth-child(3) {
    right: 4.25em;
    bottom: 0.5em;
}

.menu-round.open .btn-app {
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}
</style>