@page "/"
@using DogTracker.Interfaces
@using DogTracker.Components.Layout
@rendermode InteractiveServer

<MudText Typo="Typo.h5" Class="pl-3 pt-3 underline">Tableau de bord</MudText>
<MudGrid Class="mt-2">
    <MudItem xs="12" md="3" Class="align-self-center pt-0">
        <MudImage Src="../../images/mango_icon.png" Class="rounded-circle d-block mx-auto"
                  Style="height: 120px; width: 120px; padding:5px;" Elevation="25"></MudImage>
    </MudItem>
    <MudItem xs="12" md="3">
        <MudCard Class="p-3">
            @if (!isLoading)
            {
                <MudCardHeader Class="p-2 d-flex align-items-center">
                    <MudText Typo="Typo.subtitle1">Récap des promenades</MudText>
                    <MudSpacer></MudSpacer>
                    @if (!isTracking)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.PlayArrow" Variant="Variant.Filled"
                                       Color="Color.Inherit" Size="Size.Small"
                                       OnClick="StartWalkNoTracking"></MudIconButton>
                    }
                    else
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Stop" Variant="Variant.Filled" Color="Color.Inherit"
                                       Size="Size.Small"
                                       OnClick="StopWalkNoTracking" Class="mr-2"></MudIconButton>
                        <MudText Typo="Typo.caption">@GetFormattedDuration()</MudText>
                    }
                </MudCardHeader>
            }
            @if (isLoading)
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="130px"/>
            }
            else if (!_recentWalks.Any())
            {
                <MudText Typo="Typo.body1">Aucune promenade enregistrée aujourd'hui</MudText>
            }
            else
            {
                <MudChipSet T="string" @bind-SelectedValue="_selectedTimePeriod"
                            Class="mt-2 mb-3 d-flex justify-center">
                    <MudChip Text="Aujourd'hui" Value="@("today")" Default="true" Color="Color.Primary">Aujourd'hui
                    </MudChip>
                    <MudChip Text="Semaine" Value="@("week")" Color="Color.Primary">Semaine</MudChip>
                </MudChipSet>

                @if (_selectedTimePeriod == "today")
                {
                    <div class="d-flex justify-content-around">
                        <div class="mt-2 d-flex flex-column align-items-center">
                            <MudText Typo="Typo.body1" Class="fw-bold">@(_totalDurationToday ?? "0 min")</MudText>
                            <MudText Typo="Typo.caption">Durée</MudText>
                        </div>
                        <div class="mt-2 d-flex flex-column align-items-center">
                            <MudText Typo="Typo.body1" Class="fw-bold">@_totalDistanceToday.ToString("F2") km</MudText>
                            <MudText Typo="Typo.caption">Distance</MudText>
                        </div>
                        <div class="mt-2 d-flex flex-column align-items-center">
                            <MudText Typo="Typo.body1" Class="fw-bold">@_totalWalksToday</MudText>
                            <MudText Typo="Typo.caption">@(_totalWalksToday > 1 ? "Promenades" : "Promenade")</MudText>
                        </div>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-around">
                        <div class="mt-2 d-flex flex-column align-items-center">
                            <MudText Typo="Typo.body1" Class="fw-bold">@(_weeklyAverageDuration ?? "0 min")</MudText>
                            <MudText Typo="Typo.caption">Moy./jour</MudText>
                        </div>
                        <div class="mt-2 d-flex flex-column align-items-center">
                            <MudText Typo="Typo.body1" Class="fw-bold">@_weeklyAverageDistance.ToString("F2") km
                            </MudText>
                            <MudText Typo="Typo.caption">Moy. dist.</MudText>
                        </div>
                        <div class="mt-2 d-flex flex-column align-items-center">
                            <MudText Typo="Typo.body1" Class="fw-bold">@_totalWalksWeek</MudText>
                            <MudText Typo="Typo.caption">Promenades</MudText>
                        </div>
                    </div>
                }
            }
        </MudCard>
    </MudItem>

    <MudItem xs="12" md="3">
        <MudCard Class="p-3">
            <MudText Typo="Typo.subtitle1">Dernière promenade</MudText>
            @if (isLoading)
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="110px"/>
            }
            else if (!_recentWalks.Any())
            {
                <MudText Typo="Typo.body1">Aucune promenade enregistrée</MudText>
            }
            else
            {
                var lastWalk = _recentWalks.First();
                <div class="mt-2 d-flex flex-column gap-2 pl-4">
                    <MudText Typo="Typo.body1">
                        <MudIcon Icon="@Icons.Material.Filled.CalendarToday" Class="mr-1"/>
                        @lastWalk.AdjustedStartTime.ToString("dd/MM/yyyy à HH\\hmm", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))
                    </MudText>
                    <MudText Typo="Typo.body1">
                        <MudIcon Icon="@Icons.Material.Filled.DirectionsWalk" Class="mr-1"/>
                        @lastWalk.Distance.ToString("F2") km
                    </MudText>
                    <MudText Typo="Typo.body1">
                        <MudIcon Icon="@Icons.Material.Filled.Timer" Class="mr-1"/>
                        @{
                            var lastWalkDuration = (lastWalk.AdjustedEndTime - lastWalk.AdjustedStartTime).TotalMinutes;
                            var formattedDuration = lastWalkDuration < 60 ? $"{lastWalkDuration:F0} min" : $"{lastWalkDuration / 60:F0}h{lastWalkDuration % 60:00}";
                        }
                        @formattedDuration
                    </MudText>
                </div>
            }
        </MudCard>
    </MudItem>

    <MudItem xs="12" md="3">
        <MudCard Class="p-3">
            <MudText Typo="Typo.subtitle1">Poids actuel</MudText>
            @if (isLoading)
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="60px"/>
            }
            else if (false)
            {
                <MudText Typo="Typo.body1" Class="pl-4">Aucun poids enregistré</MudText>
            }
            else
            {
                <div class="mt-2 pl-4">
                    <MudText Typo="Typo.body1">
                        <MudIcon Icon="@Icons.Material.Filled.Scale" Class="mr-1"/>
                        @_currentWeight.Weight kg
                    </MudText>
                    <MudText Typo="Typo.body1">Dernière mesure prise
                        le @_currentWeight.Date.ToString("dd/MM/yyyy")</MudText>
                </div>
            }
        </MudCard>
    </MudItem>

    <MudItem xs="12" md="3" Class="mb-12">
        <MudCard Class="p-3">
            <MudText Typo="Typo.subtitle1">Dépenses (année en cours)</MudText>
            @if (isLoading)
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="60px"/>
            }
            else if (expenseSummary.YearTotal == 0)
            {
                <MudText Typo="Typo.body1" Class="pl-4">Aucune dépense enregistrée</MudText>
            }
            else
            {
                <div class="mt-2 pl-4">
                    <MudText Typo="Typo.body1">
                        <MudIcon Icon="@Icons.Material.Filled.Wallet" Class="mr-1"/>
                        @expenseSummary.YearTotal.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))
                    </MudText>
                    <MudText Typo="Typo.body1">Dernière dépense enregistrée
                        le @(expenseSummary.LastExpenseDate?.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.GetCultureInfo("fr-FR")) ?? "N/A")</MudText>
                </div>
            }
        </MudCard>
    </MudItem>
</MudGrid>