@page "/dog/{DogId:int}/dashboard"
@using DogTracker.Interfaces
@inject IDogService DogService
@rendermode InteractiveServer



<MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
    <MudCard Class="m-3 p-3">
        <MudText Typo="Typo.h5">Tableau de bord</MudText>

        <MudGrid Class="mt-4">
            <MudItem xs="12" md="4">
                <MudCard Class="p-3">
                    <MudText Typo="Typo.subtitle2">Dernière promenade</MudText>
                    @if (recentWalks?.Any() == true)
                    {
                        var lastWalk = recentWalks.First();
                        <div class="mt-2">
                            <MudText Typo="Typo.body1">Date: @lastWalk.StartTime.ToString("dd/MM HH:mm")</MudText>
                            <MudText Typo="Typo.body1">Distance: @lastWalk.Distance.ToString("F2") km</MudText>
                            <MudText Typo="Typo.body1">Durée: @((lastWalk.EndTime - lastWalk.StartTime).TotalMinutes.ToString("F0")) min</MudText>
                        </div>
                    }
                    else
                    {
                        <MudText Typo="Typo.body1">Aucune promenade enregistrée</MudText>
                    }
                </MudCard>
            </MudItem>

            <MudItem xs="12" md="4">
                <MudCard Class="p-3">
                    <MudText Typo="Typo.subtitle2">Poids actuel</MudText>
                    @if (weightHistory?.Any() == true)
                    {
                        var currentWeight = weightHistory.OrderByDescending(w => w.Date).First();
                        <div class="mt-2">
                            <MudText Typo="Typo.h4">@currentWeight.Weight kg</MudText>
                            <MudText Typo="Typo.body1">Dernière mesure: @currentWeight.Date.ToString("dd/MM/yyyy")</MudText>
                        </div>
                    }
                    else
                    {
                        <MudText Typo="Typo.body1">Aucun poids enregistré</MudText>
                    }
                </MudCard>
            </MudItem>

            <MudItem xs="12" md="4">
                <MudCard Class="p-3">
                    <MudText Typo="Typo.subtitle2">Dépenses du mois</MudText>
                    @if (expenses?.Any() == true)
                    {
                        var monthlyTotal = expenses
                            .Where(e => e.Date.Month == DateTime.Now.Month)
                            .Sum(e => e.Amount);
                        <div class="mt-2">
                            <MudText Typo="Typo.h4">@monthlyTotal.ToString("C")</MudText>
                        </div>
                    }
                    else
                    {
                        <MudText Typo="Typo.body1">Aucune dépense enregistrée</MudText>
                    }
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudCard>
</MudContainer>