@page "/depenses"
@inject IJSRuntime JsRuntime
@using DogTracker.Models
@using DogTracker.ViewModels
@rendermode InteractiveServer

<MudPaper class="p-4 mb-4">
    <MudText Typo="Typo.h4" class="mb-4">
        <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" class="mr-2"/>
        Dépenses
    </MudText>
    <MudButton
               Color="Color.Primary" Variant="Variant.Filled"
               class="w-full text-white font-bold py-3 rounded-lg">
        Ajouter une dépense
    </MudButton>
</MudPaper>

    <MudPaper Class="p-4 mb-4">
        <MudText Typo="Typo.h6">Historique des Dépenses</MudText>
        <MudDatePicker OpenTo="OpenTo.Month"
                       FixYear="DateTime.Now.Year"
                       FixDay="1"
                       DateFormat="MMM/yy"
                       Class="mb-4"
                       ShowToolbar="false"
                       AutoClose="true"
        />
        @* @if (expenseHistory?.Any() == true) *@
        @* { *@
        @*     <MudList T="object"> *@
        @*         @foreach (var expense in expenseHistory.OrderByDescending(e => e.Date)) *@
        @*         { *@
        @*             <MudListItem> *@
        @*                 <div class="d-flex"> *@
        @*                     <MudText Typo="Typo.subtitle1"> *@
        @*                         <MudIcon Icon="@Icons.Material.Filled.CalendarToday" class="mr-1" /> *@
        @*                         @expense.Date.ToString("dd/MM/yyyy") *@
        @*                     </MudText> *@
        @*                     <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" *@
        @*                                    Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" *@
        @*                                    class="ml-auto" *@
        @*                                    /> *@
        @*                     <MudIconButton Icon="@Icons.Material.Filled.MoreHoriz" aria-label="more" *@
        @*                                    Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" *@
        @*                                    class="ml-2" *@
        @*                     /> *@
        @*                 </div> *@
        @*                 <MudText Typo="Typo.body2" Class="text-gray-600"> *@
        @*                     <MudIcon Icon="@Icons.Material.Filled.Money" class="mr-1" /> *@
        @*                     <span>@expense.Amount.ToString("C")</span> *@
        @*                     <MudIcon Icon="@Icons.Material.Filled.Description" class="ml-2 mr-1" /> *@
        @*                     <span>@expense.Description</span> *@
        @*                 </MudText> *@
        @*             </MudListItem> *@
        @*         } *@
        @*     </MudList> *@
        @* } *@

    </MudPaper>
