@page "/dog/{dogId:int}/depenses"
@using System.Globalization
@rendermode InteractiveServer

<div class="d-flex justify-space-between align-center mb-6 pl-3 pt-3">
    <MudText Typo="Typo.h5">
        <MudIcon Icon="@Icons.Material.Filled.Wallet" Size="Size.Large" Class="icon-circle"/>
        Dépenses
    </MudText>
    <MudButton OnClick="OpenAddExpenseDialog"
               Color="Color.Primary" Variant="Variant.Filled"
               Class="ml-auto">
        <MudIcon Icon="@Icons.Material.Filled.Add"/>
    </MudButton>
</div>

@if (isLoading)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="110px"/>
}
else
{
    <MudPaper Class="p-4 mb-4" Elevation="3">
        <MudText Typo="Typo.h6" class="mb-2">
            Répartition (année en cours)
        </MudText>

        @if (chartData.Length == 0)
        {
            <MudText Typo="Typo.body1" Class="text-gray-600 pl-4">Aucune donnée disponible pour le graphique</MudText>
        }
        else
        {
            <MudText Typo="Typo.body1">
                <MudIcon Icon="@Icons.Material.Filled.Wallet" Class="mr-1"/>
                @expenseSummary.YearTotal.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))
            </MudText>
            <MudChart ChartType="ChartType.Pie"
                      InputData="@chartData"
                      InputLabels="@labels"
                      Width="300px"
                      Height="300px"
                      ChartOptions="new ChartOptions { ShowToolTips = true, ShowLabels = true }"
            />
        }
    </MudPaper>
}

@if (isLoading)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="110px"/>
}
else
{
    <MudPaper Class="p-4 mb-4" Elevation="3">
        <MudText Typo="Typo.h6">Historique mensuel</MudText>
        <MudDatePicker OpenTo="OpenTo.Month"
                       FixYear="DateTime.Now.Year"
                       FixDay="1"
                       DateFormat="MMM/yy"
                       Class="mb-4"
                       ShowToolbar="false"
                       AutoClose="true"
                       Date="@_selectedMonth"
                       DateChanged="OnMonthChanged"
                       Culture="@CultureInfo.GetCultureInfo("fr-FR")"/>
        @if (expenseHistory?.Any() == true)
        {
            <MudList T="object">
                @foreach (var expense in expenseHistory.OrderByDescending(e => e.Date))
                {
                    <MudListItem>
                        <div class="d-flex align-items-center justify-content-between">
                            <MudText Typo="Typo.subtitle1">
                                <MudIcon Icon="@Icons.Material.Filled.CalendarToday" class="mr-1"/>
                                @expense.Date.ToString("dd/MM/yyyy")
                            </MudText>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete"
                                           Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small"
                                           OnClick="@(() => ConfirmDeleteExpense(expense.Id))"/>
                        </div>
                        <div class="d-flex flex-wrap mt-2">
                            <MudText Typo="Typo.body2" Class="text-gray-600 mr-4">
                                <MudIcon Icon="@Icons.Material.Filled.Wallet" class="mr-1"/>
                                @expense.Amount.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))
                            </MudText>
                            <MudText Typo="Typo.body2" Class="text-gray-600 mr-4">
                                <MudIcon Icon="@Icons.Material.Filled.Category" class="mr-1"/>
                                @expense.Category
                            </MudText>
                        </div>
                        <div class="mt-2">
                            <MudText Typo="Typo.body2" Class="text-gray-600">
                                <MudIcon Icon="@Icons.Material.Filled.Description" class="mr-1"/>
                                @expense.Description
                            </MudText>
                        </div>
                    </MudListItem>
                }
            </MudList>
        }
        else
        {
            <MudText Typo="Typo.body1" Class="text-gray-600 pl-4">Aucune dépense enregistrée</MudText>
        }
    </MudPaper>
}